html,
body {
  margin: 0;
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

audio {
  display: none
}

.bruhButton {
  font-size: 10rem;
  cursor: pointer;
}